@use 'setting';
@use 'mixin';

.btn {
    display: inline-block;
    width: 160px;
    max-width: 100%;
    background-color: setting.$color-main;
    color: setting.$color-white;
    @include mixin.fz(15);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    padding-top: 12px;
    padding-right: 46px;
    padding-bottom: 12px;
    padding-left: 46px;
    border: 1px solid transparent;
    transition: background-color 0.2s;
    &:focus,
    &:hover {
        background-color: setting.$color-accent01;
    }
    @include mixin.mq(lg) {
        border-radius: 100px;
    }
    &--sm {
        padding-top: 7px;
        padding-bottom: 7px;
        border: 1px solid currentColor;
    }
}
.btn--submit {
    display: block;
    border-radius: 100px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    @include mixin.mq(lg) {
        margin-top: 16px;
        margin-left: 0;
    }
}
