@use 'setting';
@use 'mixin';

.container {
    max-width: setting.$contents--max-width;
    width: 100%;
    margin: 0 auto;
}
.container--exception {
    @include mixin.mq(lg) {
        max-width: 100%;
    }
}
