@use 'setting';
@use 'mixin';

.drawer-menu {
    width: 100vw;
    height: 100vh;
    background-color: setting.$color-main;
    transform: translateX(100%);
    transition: transform 0.2s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    &--active {
        transform: translateX(0);
    }
}
.drawer-menu__container {
    width: 100%;
    height: 100%;
}
.drawer-menu__items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.drawer-menu__item {
    @include mixin.fz(24);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
}
.drawer-menu__item + .drawer-menu__item {
    padding-top: 24px;
}
.drawer-menu__link {
    display: inline-block;
    color: setting.$color-white;
    text-decoration: none;
}
