@use 'setting';
@use 'mixin';

.first-view {
    @include mixin.vs(height, 320px, 221.87px, 1440px, 768px);
    position: relative;
}
.first-view__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.first-view-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    transform: translateX(21.3%);
    @include mixin.mq(sm) {
        width: 80%;
        transform: translateX(30%);
    }
    @include mixin.mq(lg) {
        transform: translate(30%, 64px);
    }
}
.first-view__inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    @include mixin.vs(width, 320px, 136.5px, 1440px, 465px);
}
.first-view__ttl {
    display: block;
    // line-height: 0;
}
.first-view__logo {
    fill: setting.$color-main;
    width: 100%;
    @include mixin.vs(height, 320px, 47.8px, 1440px, 112px);
}
.first-view__txt {
    display: block;
    @include mixin.fz(8);
    color: setting.$color-gray;
    letter-spacing: 0.5em;
    @include mixin.mq(sm) {
        @include mixin.fz(10);
        letter-spacing: 0.75em;
    }
    @include mixin.mq(md) {
        @include mixin.fz(14);
    }
    @include mixin.mq(lg) {
        @include mixin.fz(18);
    }
    @include mixin.mq(xxl) {
        @include mixin.fz(20);
        letter-spacing: 1em;
    }
}
