@use 'setting';
@use 'mixin';

.global-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.global-nav__items {
    display: flex;
}
.global-nav__item {
    @include mixin.mq(lg) {
        @include mixin.vs(margin-right, 992px, 24px, 1440px, 56px);
        @include mixin.fz(15);
        font-weight: 500;
        letter-spacing: 0.02em;
    }
}
.global-nav__link {
    display: inline-block;
    color: setting.$color-black;
    padding: 22px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    &:hover {
        border-bottom: 2px solid setting.$color-main;
    }
    &.active {
        border-bottom: 2px solid setting.$color-main;
    }
}
.menu-btn {
    width: 40px;
    height: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}
.menu-btn__icon {
    width: 40px;
    height: 2px;
    background-color: setting.$color-white;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    &::before,
    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: setting.$color-white;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.2s;
    }
    &::before {
        transform: translateY(-10px);
    }
    &::after {
        transform: translateY(10px);
    }
    &--active {
        background-color: transparent;
        &::before {
            transform: translateY(0) rotate(-45deg);
        }
        &::after {
            transform: translateY(0) rotate(45deg);
        }
    }
}
