@use 'setting';
@use 'mixin';

.sec {
    margin-right: 32px;
    margin-left: 32px;
    color: setting.$color-black;
    &:not(.concept):not(.contact) {
        margin-top: 60px;
        @include mixin.mq(lg) {
            margin-top: 160px;
        }
    }
    @include mixin.mq(xl) {
        margin-right: 0;
        margin-left: 0;
    }
}
.concept {
    margin-top: 16px;
    @include mixin.mq(lg) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin-top: 85px;
    }
}
.about {
    @include mixin.mq(lg) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.menu,
.performance {
    position: relative;
}
.performance {
    @include mixin.mq(lg) {
        margin-right: 0;
        margin-left: 0;
    }
}
.svg-wrapper {
    display: none;
    @include mixin.mq(lg) {
        display: block;
        position: absolute;
        z-index: -1;
    }
}
.svg-wrapper--circle {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.svg-circle {
    @include mixin.vs(width, 992px, 319.6px, 1440px, 464px);
    @include mixin.vs(height, 992px, 320px, 1440px, 465px);
}
.svg-wrapper--rectangle {
    top: 0;
    left: 0;
}
.svg-rectangle {
    @include mixin.vs(width, 992px, 340.3px, 1440px, 494px);
    @include mixin.vs(height, 992px, 394.7px, 1440px, 573px);
}
.contact {
    color: setting.$color-white;
}
.content-wrapper {
    width: 100%;
    @include mixin.mq(lg) {
        width: calc(100% / 2 - 60px);
    }
}
.sec__bg-ttl {
    text-align: center;
    transform: translateY(16px);
    @include mixin.mq(lg) {
        text-align: left;
    }
}
.svg-concept {
    @include mixin.vs(width, 320px, 168.6px, 1440px, 469px);
}
.svg-about {
    @include mixin.vs(width, 320px, 85.3px, 1440px, 266px);
}
.svg-menu {
    @include mixin.vs(width, 320px, 237.2px, 1440px, 570px);
}
.svg-performance {
    @include mixin.vs(width, 320px, 111.8px, 1440px, 355px);
}
.svg-access {
    @include mixin.vs(width, 320px, 179.2px, 1440px, 484px);
}
.sec__ttl {
    @include mixin.fz(26);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
    @include mixin.mq(lg) {
        @include mixin.fz(56);
        text-align: left;
    }
}
.sec__ttl--menu {
    @include mixin.mq(lg) {
        text-align: center;
    }
}
.sec__ttl--jp {
    @include mixin.fz(16);
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.25em;
    @include mixin.mq(lg) {
        @include mixin.fz(24);
        text-align: left;
    }
}
.sec__sub-ttl {
    @include mixin.fz(16);
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-top: 8px;
    @include mixin.mq(lg) {
        @include mixin.fz(24);
        margin-top: 24px;
    }
}
.sec__sub-ttl--about {
    text-align: center;
    @include mixin.mq(lg) {
        text-align: left;
    }
}
.sec__ttl--exception {
    @include mixin.mq(lg) {
        display: block;
        max-width: setting.$contents--max-width;
        width: 100%;
        margin: 0 auto;
    }
}
.owner-name {
    display: block;
    @include mixin.mq(lg) {
        display: inline;
        @include mixin.fz(16);
    }
}
.sec__txt {
    @include mixin.fz(14);
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.78em;
    margin-top: 24px;
}
.sec__txt--menu {
    @include mixin.mq(lg) {
        text-align: center;
    }
}
.sec__sub-ttl + .sec__txt {
    @include mixin.mq(lg) {
        margin-top: 64px;
    }
}
.content-img {
    width: 100%;
    @include mixin.vs(height, 320px, 150.2px, 992px, 465.6px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-top: 16px;
    @include mixin.mq(lg) {
        width: calc(100% / 2 - 60px);
    }
}
.content-img--concept {
    @include mixin.mq(lg) {
        height: 316px;
        margin-top: 90px;
    }
}
.content-img--about {
    @include mixin.mq(lg) {
        height: 430px;
        margin-top: 114px;
    }
}
.menu__container {
    @include mixin.mq(lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 88px;
    }
}
.menu__inner {
    @include mixin.mq(lg) {
        width: calc(100% / 2 - 50px);
    }
    &:first-of-type {
        margin-top: 40px;
        @include mixin.mq(lg) {
            margin-top: 0;
        }
    }
    & + .menu__inner {
        margin-top: 24px;
        @include mixin.mq(lg) {
            margin-top: 0;
        }
    }
    &:nth-of-type(n + 3) {
        @include mixin.mq(lg) {
            margin-top: 48px;
        }
    }
}
.menu__ttl {
    @include mixin.fz(22);
    font-weight: 600;
    text-transform: uppercase;
}
.menu__ttl--jp {
    @include mixin.fz(14);
}
.menu__list-wrapper {
    @include mixin.fz(16);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;
    line-height: 2;
    margin-top: 16px;
    border-bottom: 1px solid setting.$color-border;
}
.aword-wrapper {
    margin-top: 32px;
    @include mixin.mq(lg) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 88px;
    }
    & + .aword-wrapper {
        margin-top: 40px;
        @include mixin.mq(lg) {
            margin-top: 0;
        }
    }
}
.aword-wrapper--reverse {
    @include mixin.mq(lg) {
        flex-direction: row-reverse;
    }
}
.aword {
    width: 100%;
    @include mixin.vs(height, 320px, 150.2px, 992px, 465.6px);
    @include mixin.mq(lg) {
        width: 50%;
        @include mixin.vs(height, 992px, 355.47px, 1440px, 516px);
    }
}
.aword-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.aword-cap {
    text-align: center;
    margin-top: 16px;
    @include mixin.mq(lg) {
        margin-top: 0;
        margin-left: 120px;
    }
}
.aword-wrapper--reverse > .aword-cap {
    @include mixin.mq(lg) {
        margin-left: 0;
        margin-right: 120px;
    }
}
.aword__ttl {
    @include mixin.fz(12);
    font-weight: 600;
    color: setting.$color-main;
    letter-spacing: 0.04em;
    @include mixin.mq(lg) {
        @include mixin.fz(16);
    }
}
.aword__lank {
    @include mixin.fz(22);
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-top: 12px;
    @include mixin.mq(lg) {
        @include mixin.fz(24);
        margin-top: 24px;
    }
}
.flex-items {
    @include mixin.mq(lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.access__lists {
    margin-top: 8px;
    @include mixin.mq(lg) {
        width: 32.67%;
        margin-top: 64px;
        margin-left: 24px;
    }
}
.access__ttl {
    @include mixin.fz(18);
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @include mixin.mq(lg) {
        @include mixin.fz(20);
    }
}
.access__info + .access__ttl {
    margin-top: 16px;
}
.access__info {
    @include mixin.fz(14);
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-top: 8px;
    @include mixin.mq(lg) {
        @include mixin.fz(16);
        margin-top: 16px;
    }
}
.map-wrapper {
    width: 100%;
    @include mixin.vs(height, 320px, 150.2px, 992px, 465.6px);
    margin-top: 16px;
    overflow: hidden;
    @include mixin.mq(lg) {
        margin-top: 0;
        width: 54.9%;
        @include mixin.vs(height, 992px, 290.7px, 1440px, 422px);
    }
}
.map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.bg-accent {
    width: 100vw;
    height: 100%;
    background-color: setting.$color-main;
    margin-top: 60px;
    padding-top: 32px;
    padding-bottom: 56px;
    @include mixin.mq(lg) {
        margin-top: 160px;
    }
}
.contact-form-wrapper {
    background-image: url(../img/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-top: 40px;
    padding: 32px 16px;
    position: relative;
    @include mixin.mq(lg) {
        padding: 48px 0;
    }
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba($color: setting.$color-white, $alpha: 0.8);
    @include mixin.mq(lg) {
        clip-path: polygon(0 0, 53% 0, 43% 100%, 0% 100%);
    }
}
.contact-form {
    position: relative;
    z-index: 1;
    @include mixin.mq(lg) {
        width: 31%;
        margin-left: 64px;
    }
}
.contact-form__list {
    @include mixin.fz(13);
    font-weight: 300;
    letter-spacing: 0.03em;
    & + .contact-form__list {
        margin-top: 8px;
        @include mixin.mq(lg) {
            margin-top: 16px;
        }
    }
}
.contact-form__item {
    display: block;
    width: 100%;
    border: none;
    padding: 12px 4px;
}
// .required-mark {
//     @include mixin.fz(12);
//     background-color: red;
// }
.privacy-policy {
    width: 100%;
    height: 104px;
    overflow-y: scroll;
    background-color: rgba($color: setting.$color-white, $alpha: 1);
    color: setting.$color-black;
    border: 1px solid setting.$color-gray;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 16px 4px;
}
.privacy-policy__ttl {
    font-weight: 600;
}
.privacy-policy__txt {
    @include mixin.fz(12);
}
.privacy-policy__items {
    @include mixin.fz(12);
    font-weight: 600;
    margin-top: 1em;
}
.privacy-policy__lists {
    @include mixin.fz(12);
    list-style: decimal;
    list-style-position: inside;
}
.privacy-policy__list > .privacy-policy__lists {
    padding-left: 1em;
}
.agreement-area {
    text-align: center;
    margin-top: 8px;
    @include mixin.mq(lg) {
        text-align: left;
        margin-top: 16px;
    }
}
.agreement-btn {
    vertical-align: middle;
}
.agreement-txt {
    color: setting.$color-black;
    margin-right: 2em;
}
